In [1]:
print("Hello")

Hello

In [2]:
#This is a comment

Types in python

In [3]:
#To understand type of 11
type(11)

int

In [4]:
type(11.0)

float

In [5]:
type("a")

str

In [6]:
#Type Casting-Changing from one type to another
#Converting int 11 to float
float(11)

11.0

In [8]:
int(5.6)

5

In [10]:
#Casting a boolean to integer
int(True)

1

Expressions and Variables

In [12]:
#Program to convert minutes to hours
#Adding up minutes.Here minutes and hours are variables
#The below line is an expression
minutes=50+60+100
#Converting minutes to hours
hours=minutes/60
#Printing result
print(hours)

3.5

String operations

In [16]:
Name="Ayubsha"
#To get letter in first position
print(Name[0])
#To get first three letters
print(Name[0:3])
#To get every second letter
print(Name[::2])
#To get every second letter of first 4 letters
print(Name[0:4:2])

A
Ayu
Ausa
Au

In [17]:
#To get length
len(Name)

7

In [18]:
#Concatenation
Full_Name="Mohammed "+Name
print(Full_Name)

Mohammed Ayubsha

In [21]:
#Replicating strings
print(3*Name)

AyubshaAyubshaAyubsha

In [27]:
#Using escape sequence \n
print("Mohammed\nAyubsha")

Mohammed
Ayubsha

In [30]:
#Converting to upper case
print(Name.upper())

AYUBSHA

In [33]:
#Replacing a part of string-Mohammed with Mohd in Full_Name
print(Full_Name.replace("Mohammed","Mohd"))

Mohd Ayubsha

In [36]:
#Finding position of substring
Name.find("ub")

2

In [38]:
#If we do not have our required search ,output is -1
Name.find("x")

-1